.cards {
  display: flex;
  align-items: space-between;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Handlee", cursive;
}

.card {
  border: 1px solid grey;
  padding: 20px;
  cursor: pointer;
  box-sizing: border-box;
  width: calc(2.625in - 4px);
  height: calc(3.625in - 4px);
  position: relative;
  break-inside: avoid;
  /* filter: grayscale(1); */
}

.card-cost, .card-power {
  position: absolute;
  top: 10px;
  font-size: 22px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  outline: 3px solid white;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.card-cost::after, .card-power::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  filter: blur(3px);
  opacity: 0.4;
}

.card-power::after {
  border-radius: 4px;
}

.card-cost {
  left: 10px;
  border-radius: 50%;
  background: grey;
  background: #da830b;
}

.card-power {
  right: 10px;
  border-radius: 4px;
  background: black;
  background: #3568e0;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  min-height: 120px;
  padding-bottom: 8px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-ability {
  height: 90px;
  height: 70px;
  height: 80px;
  text-wrap: pretty;
}

/* .card-ability strong {
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: middle;
} */

.card-desc {
  font-size: 10px;
  font-style: italic;
  height: 25px;
  text-wrap: pretty;
}

.card-image {
  margin-top: 15px;
  /* background: #eee; */
  /* border: 1px solid grey; */
  height: 160px;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  /* filter: grayscale(1); */
  position: relative;
  outline-offset: -1px;
  outline: 3px solid white;
}

.location-image::after,
.card-image::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('./frame.svg');
}

.location {
  position: relative;
  padding: 18px 12px;
}

.location > div:not(.location-image) {
  height: 100%;
  display: flex;
  flex-direction: column;
  .location-info {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    &:first-child {
      transform: rotate(180deg);
    }
  }
}

.location-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.location-ability {
  font-size: 16px;
  text-wrap: pretty;
  min-height: 43px;
}

.location-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 20px);
  height: calc(50% - 20px);
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center center;
  outline-offset: -1px;
  outline: 3px solid white;
}

/* .location-image {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform-origin: center center;
  width: calc(100% * (3.15/2.15));
  height: calc(100% * ((2.15/3.15)/2));
  transform: translate(-50%, -50%) rotate(90deg);
  outline-offset: -1px;
  outline: 3px solid white;
  opacity: 0.2;
}

.location-image.flip {
  left: 75%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.location::after {
  content: '';
  display: block;
  position: absolute;
  top: 70px;
  bottom: 70px;
  width: 1px;
  background: grey;
  left: 50%;
}

.location-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%) rotate(90deg);
}

.location-info.bottom {
  left: auto;
  right: 25%;
  transform: translate(0, -50%) rotate(90deg);
}

.location-info.top {
  left: 25%;
  transform: translate(0, -50%) rotate(-90deg);
}

.location-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.location-ability {
  widows: 3;
} */

.flags {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.flags::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  border-radius: 10px;
  background: grey;
  outline: 3px solid white;
}

.flag {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.flag:nth-child(1) img {
  transform: rotate(180deg);
}

.flag:nth-child(2) img {
  transform: rotate(-90deg);
}

.flag img {
  height: 16px;
}

.instruction {
  padding: 16px 15px;
  font-size: 15px;
  text-wrap: pretty;
  strong {
    text-align: center;
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      width: 62%;
      height: 1px;
      background: #eee;
    }
  }
  &.setup {
    strong::after {
      width: 55%;
    }
  }
  ol {
    margin: 0;
    padding: 0;
    padding-left: 13px;
    counter-reset: count;
    list-style: none;
    li {
      counter-increment: count;
      position: relative;
      &::before {
        content: counter(count);
        position: absolute;
        top: 3px;
        font-family: monospace;
        right: calc(100% + 3px);
        width: 12px;
        height: 12px;
        background: black;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 12px;
        font-weight: bold;
      }
    }
  }
}